table, tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 444px;
    height: 30px;
}
p{
    border: 1px solid black;
    text-align: right;
    width: 444px;
    height: 30px;
}
input{
    height: 40px;
    width: 60px;
    background-color: rgb(215, 214, 214);
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
input:hover {
    background-color: rgb(32, 91, 150);
}
.number {
background-color: rgb(255, 255, 255);
}
.end {
    background-color: rgb(133, 195, 239);
}